<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>将大大减少</string>
		<key>icon</key>
		<string>icon01.png</string>
		<key>time</key>
		<string>前天 10:25</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>大大似大海哦神魂颠倒</string>
		<key>icon</key>
		<string>icon01.png</string>
		<key>time</key>
		<string>前天 10:25</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>对萨沙隧道会阿叔我和我哈吼啊我好的</string>
		<key>icon</key>
		<string>icon02.png</string>
		<key>time</key>
		<string>昨天 20:05</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>大噶环境的挥洒花都文化的网球和 i 哦气温很低哦请我喝酒哦 i 请我喝酒哦ID回家哦 i 请我喝酒滴哦请问回去恢复春秋文化</string>
		<key>icon</key>
		<string>icon01.png</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>实打实大</string>
		<key>icon</key>
		<string>icon02.png</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>哈哈哈哈哈哈哈哈哈哈哈啊啊啊</string>
		<key>icon</key>
		<string>icon01.png</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>摩擦摩擦摩擦摩擦摩擦摩擦摩擦摩擦</string>
		<key>icon</key>
		<string>icon02.png</string>
		<key>time</key>
		<string>昨天 20:11</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>呵呵呵呵呵呵呵呵呵呵</string>
		<key>icon</key>
		<string>icon01.png</string>
		<key>time</key>
		<string>昨天 20:15</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>sdfhkjldhjwlkwqlkdjlwqjdlkjqwljdkwjqoijoqwidhjiowqqo</string>
		<key>icon</key>
		<string>icon02.png</string>
		<key>time</key>
		<string>昨天 20:15</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
